# Dependencies & Builds
**/node_modules/
**/dist/
**/dist-ssr/
**/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
**/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & Editors
.vscode/
!.vscode/extensions.json
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & Local Secrets
*.local
.env
.env.*
!.env.example
